
<div class="report-container">

  <div class="report">

    <div class="rowA">
      <p class="title">TRIAGE REPORT</p>

      <div>
        <p class="name" *ngIf="!no_patient">Waiting for patient...</p>
        <p class="name" *ngIf="no_patient">{{ name }}, born {{ born }}</p>
      </div>

      <div class="row date">

        <div class="col-4">DATE: {{ report_date_start | amDateFormat:'DD-MM-YYYY' }}</div>
        <div class="col-4">START: {{ report_date_start | amDateFormat: 'HH:mm' }}</div>
        <div class="col-4">END: {{ report_date_end | amDateFormat: 'HH:mm' }}</div>
      </div>
    </div>
    <div class="rowB row">
      <div class="col-6"><img src="/assets/5345_1.jpg" alt=""></div>
      <div class="col-6">

        <div *ngIf="!no_patient">
          <p class="p-caps">Waiting for patient data</p>
        </div>

        <div *ngIf="no_patient">
          <!-- Stuff that the patient answered -->
          <p class="title">Information provided by patient</p>
          <div *ngFor="let patient_info of patient_infos">
            <p class="p-data">- {{ patient_info }}</p>
          </div>

          <hr>

          <div class="pain">
            <p>PAIN: <span>{{ pain }}/10</span></p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" [style.width]="getProgressValue() + '%'" [attr.aria-valuenow]="getProgressValue()" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="rowC">
      <p>ACTION TAKEN: {{ action_taken }}</p>
    </div>
    <div class="rowD">
      <p>ESTIMATED WAITING TIME: {{ estimated_waiting_time }}</p>
    </div>

  </div>

</div>

<div class="" *ngFor="let payload of payloads">
  <div class="payload">{{ payload }}</div>
</div>
