
<div class="report-container">

  <div class="report">

    <div class="rowA">
      <p class="title">TRIAGE REPORT</p>

      <div>
        <p class="name">{{ patient.name }}, born 17.03.1973</p>
      </div>

      <div class="row date">
        <div class="col-4">DATE: {{ patient.start_date | amDateFormat:'DD-MM-YYYY' }}</div>
        <div class="col-4">START: {{ patient.end_date | amDateFormat: 'HH:mm' }}</div>
        <div class="col-4">END: {{ patient.end_date | amDateFormat: 'HH:mm' }}</div>
      </div>
    </div>
    <div class="rowB"></div>
    <div class="rowC">
      <p>ACTION TAKEN: {{ patient.action }}</p>
    </div>
    <div class="rowD">
      <p>ESTIMATED WAITING TIME: {{ patient.estimated_waiting }}</p>
    </div>

  </div>

</div>

<pre class="payload">{{ patient | json }}</pre>
